<div class="dialog-container">
  
    <h1 class="dialog-title">Leute hinzufügen</h1>
    <div class="dialog-content">
  
        <div class="form-field" appearance="outline">
            <div class="form-field-prefix">
                <input [(ngModel)]="channel.users" required placeholder="Name eingeben" matInput>
          </div>
        </div>
        
    </div>
    <mat-dialog-actions class="dialog-buttons" align="end">
        <button mat-button (click)="saveUserToChannel()" [mat-dialog-close]="true" cdkFocusInitial>Hinzufügen</button>
      </mat-dialog-actions>
    
    </div>