.resetPassword{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;



  .password-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      height: 40px;
      width: 150px;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      font-size: 18px;
      color: white;
      background-color: #686868;
      margin-right: 25px;
      &:not(.disabled-btn) {
        opacity: 1;
      }
    }
  }

  #backarrowResetPassword {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}


.sendEmail {
  height: calc(100vh - 500px);
  width: 700px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;

  h2 {
    color: #444DF2;
    font-weight: 700;
    font-size: 46px;
  }

  div {
    font-weight: 400;
    font-size: 20px;
  }

  input {
    background-color: #eceefe;
    border: none;
    border-radius: 15px;
    height: 40px;
    width: 80%;
    box-sizing: border-box;
    padding-left: 50px;

    &:focus {
      outline: none;
    }
  }
}

.disabled-btn{
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width:750px) {

  .sendEmail{

      height: calc(100vh - 200px);
      width: 95vw;
      background-color: white;
      border-radius: 30px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;

      h2{
          font-size: 32px;
          margin-block-start: 0em;
          margin-block-end: 0em;
      }

      div{
          font-weight: 400;
          font-size: 17px;
          width: 80%;
          text-align: center;
      }
  }

  
}


@media (max-width:500px) {
.sendEmail{
  h2{
      font-size: 24px;
      margin-top: 10px;
  }
}


  #backarrowResetPassword{
      top: 5px;
  }
}

