.workspace-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

}

.workspace-body {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    overflow-y: auto;
    overflow-x: hidden;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
}

h4 {
    font-size: 20px;
  }

  .thread-list-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-left: 20px;
}

.add-message:after {
    content: "";
    width: 40px;
    height: 40px;
    background: url(/assets/img/edit-square.svg);
    background-size: 100% auto;
    display: inline-block;
}

.add-message:hover:after {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: url(/assets/img/edit-square-b.svg);
    background-size: 100% auto;
}

.expandmenu {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    &.open .dropdownarrow:before {
        content: "";
        width: 30px;
        height: 30px;
        background: url(/assets/img/arrow-drop-down.svg);
        background-size: 100% auto;
        display: flex;
    }
    &.close .dropdownarrow:before {
        content: "";
        width: 30px;
        height: 30px;
        background: url(/assets/img/arrow-drop-right.svg);
        background-size: 100% auto;
        display: flex;
    }
    &:hover {
        color: #535AF1;

        &.open .dropdownarrow:before {
            content: "";
            width: 30px;
            height: 30px;
            background: url(/assets/img/arrow-drop-down-b.svg);
            background-size: 100% auto;
        }

        &.close .dropdownarrow:before {
            content: "";
            width: 30px;
            height: 30px;
            background: url(/assets/img/arrow-drop-right-b.svg);
            background-size: 100% auto;
        }

        .userlisticon:before {
            background: url(/assets/img/user-list-b.svg);
            background-size: 100% auto;
        }

        .channellisticon:before {
            background: url(/assets/img/channels-b.svg);
            background-size: 100% auto;
        }
    }

    .userlisticon:before {
        content: "";
        width: 24px;
        height: 24px;
        background: url(/assets/img/user-list.svg);
        background-size: 100% auto;
        display: flex;
    }

    .channellisticon:before {
        content: "";
        width: 24px;
        height: 24px;
        background: url(/assets/img/channels.svg);
        background-size: 100% auto;
        display: flex;
    }

}

span.userlisticon {
    margin-left: 5px;
    margin-right: 2px;
}

span.channellisticon {
    margin-left: 5px;
    margin-right: 2px;
}

.channel-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addchannel {
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 40px;
    &:before {
        content: "";
        width: 24px;
        height: 24px;
        background: url(/assets/img/add-channel.svg);
        background-size: 100% auto;
        display: flex;
    }
    &:hover {
        color: #535AF1;
    }
    &:hover:before {
        content: "";
        width: 24px;
        height: 24px;
        background: url(/assets/img/add-channel-b.svg);
        background-size: 100% auto;
        display: flex;
    }
}

.addchannelplusicon:before {
    content: "";
    width: 24px;
    height: 24px;
    background: url(/assets/img/add-channel-plus.svg);
    background-size: 100% auto;
    display: flex;
}

.addchannelplusicon {
    cursor: pointer;
    &:hover:before {
        content: "";
        width: 24px;
        height: 24px;
        background: url(/assets/img/add-channel-plus-b.svg);
        background-size: 100% auto;
    }
}
app-search {
  display: none;
}
@media (max-width: 1160px) {
  .workspace-header {
    display: none;
  }

  app-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid #E5E5E5;
    border-radius: 30px;
  }
}


