<div class="workspace-header"><img src="assets/img/workspace-logo.svg">
    <h3>Code learning</h3>
    <span class="add-message"></span>
</div>
<div class="workspace-body">
    <div class="workspace-channels">
<div class="channel-head"><h4 (click)="openChannelList()" class="expandmenu {{ channelListClass }}"><span class="dropdownarrow"></span><span class="channellisticon"></span>Channels</h4>
<span class="addchannelplusicon" (click)="addChannel()"></span></div>
<div *ngIf="channelListState">
    <app-thread-list class="thread-list-section"></app-thread-list>
    <div (click)="addChannel()" class="addchannel"><span class="addchannelicon"></span>Channel hinzufügen</div>
</div>
</div>
<div class="workspace-user">
<h4 (click)="openUserList()" class="expandmenu {{ userListClass }}"><span class="dropdownarrow"></span><span class="userlisticon"></span>Direktnachrichten</h4>
<div class="user-list-section"><app-user-list *ngIf="userListState"></app-user-list></div>
</div></div>
