<div class="main-container">
    <div class="DAbubble-container">
        <img src="./assets/img/1. Logo animation.png">
    </div>

    <div class="regiter-container">
        <div>Neu bei DABubble?</div>
        <p>konto erstellen</p>
    </div>

    <div class="legal-container">
        <p>Impressum</p>
        <p>Datenschutz</p>
    </div>

    <div *ngIf="step==1">
        <app-login></app-login>
    </div>
    <div *ngIf="step==2">
        <app-register></app-register>
    </div>
    <div *ngIf="step==3">
        <app-choose-avatar></app-choose-avatar>
    </div>
    <div *ngIf="step==4">
        <app-send-email></app-send-email>
    </div>
    <div *ngIf="step==5">
        <app-reset-password></app-reset-password>
    </div>

</div>
