<div class="intro" *ngIf="!animationOver">
<div>
    <img src="./assets/img/Logo (1).png">
    <span>DABubble</span>
</div>
</div>


<div class="main-container" *ngIf="animationOver">
    <div class="DAbubble-container">
        <img src="./assets/img/1. Logo animation.png">
    </div>

    <div class="regiter-container" *ngIf="storageService.getStep()==1" >
        <div>Neu bei DABubble?</div>
        <p (click)="storageService.plusStep()">konto erstellen</p>
    </div>

    <div class="legal-container">
        <p (click)="goToImpress()">Impressum</p>
        <p>Datenschutz</p>
    </div>

    <div *ngIf="storageService.getStep()==1" class="component">
        <app-login></app-login>
    </div>
    <div *ngIf="storageService.getStep()==2">
        <app-register></app-register>
    </div>
    <div *ngIf="storageService.getStep()==3">
        <app-choose-avatar></app-choose-avatar>
    </div>
    <div *ngIf="storageService.getStep()==4">
        <app-send-email></app-send-email>
    </div>
    <div *ngIf="storageService.getStep()==5">
        <app-reset-password></app-reset-password>
    </div>

</div>
