.main-container{
    height: 100%;
    width: 100%;
    background-color: #eceefe;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.DAbubble-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    top:75px;
    left:75px;
}

.regiter-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top:75px;
    right:75px;
    font-size: 18px;
    font-weight: 400;
        p{
            color: #797EF3;
        }
}

.legal-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 75px;
    left: 0;
    color: #797EF3;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
}