#backarrowAvatar{
    position: absolute;
    top: 25px;
    left:25px;
    cursor: pointer;
}

.choose-avatar-container{
    height: calc(100vh - 300px);
    width: 700px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;

    h2{
        color: #444DF2;
        font-weight: 700;
        font-size: 46px;
    }
}