<div class="choose-avatar-container">
  <h2>Wähle deinen Avatar</h2>
  <img src="./assets/img/arrow_back.png" id="backarrowAvatar" (click)="storageService.minusStep()">
  <img [src]="currentAvatar" id="coverAvatar" (click)="storageService.minusStep()">
  <mat-progress-bar *ngIf="isUploading" mode="determinate" [value]="uploadPercent"></mat-progress-bar>
  <div class="avatarName">
    {{ userData.name }}
  </div>


  <div>
    <div>Aus der Liste Wählen</div>
    <div>
      <img *ngFor="let avatar of imageUrls" [src]="avatar" (click)="selectAvatar(avatar)">
    </div>
  </div>


  <div class="picture">
    <div>eigenes Bild verwenden</div>

    <input type="file" (change)="uploadFile($event)" hidden #fileInput>
    <button (click)="fileInput.click()">Datei Hochladen</button>
  </div>

  <div class="next">
    <button (click)="goNext()">Weiter</button>
  </div>
</div>
