<div class="search-container">
  <input type="text" placeholder="Code learning durchsuche" aria-label="Search" [formControl]="searchControl">
  <div class="autocomplete-options" *ngIf="searchControl.value && filteredOptions | async as users">
    <ng-container *ngIf="filteredOptions | async as users">
    <div class="autocomplete-option" *ngFor="let user of users" (click)="selectUser(user)">
      <img [src]="user.avatar" class="user-avatar" alt="Avatar" width="24" height="24">
      <span>{{ user.name }}</span>
      <small>{{ user.status }}</small>
    </div>
  </ng-container>
  </div>
</div>
<mat-icon>search</mat-icon>





