<div class="search-container">
  <input type="text" placeholder="Gehe zu..." aria-label="Search"   #filter (keyup)="private_filter(filter.value)">
  <div class="autocomplete-options" *ngIf="dropdownVisible">
    <div class="autocomplete-option" *ngFor="let user of filteredUsersOrChannels" (click)="selectUser(user)">
      <img *ngIf="user.type === 'user'" [src]="user.avatar ? user.avatar : 'assets/img/profile.png'" class="user-avatar" alt="Avatar" width="24" height="24">
      <mat-icon *ngIf="user.type === 'channel'">tag</mat-icon>
      <span>{{ user.name }}</span>
      <small *ngIf="user.type === 'user'">{{ user.status }}</small>
    </div>
  </div>
</div>
<mat-icon>search</mat-icon>






