<div *ngFor="let thread of allThreadsFiltered; let i = index" (mouseenter)="showThreadMenu(i)" (mouseleave)="hideThreadMenu()">
  <div class="message-direction">
    <div class="message-card">
      <div *ngFor="let user of allUsers">
        <div class="message-box" *ngIf="user.id === thread.authorId">
          <div *ngIf="hoveredIndex==i" class="choose">
            <div (click)="selectEmoForThread('✅', thread.id)">✅</div>
            <div (click)="selectEmoForThread('🙌', thread.id)">🙌</div>
            <img src="./assets/img/add_reaction.png">
          </div>
          <img [src]="user.avatar" alt="Avatar" class="user-avatar">
          <div>
            <div class="message-head">
              <span class="message-user">{{ user.name }}</span>
            </div>
            <div *ngIf="!thread.title.startsWith('http')" class="message-item">{{ thread.title }}</div>
            <div *ngIf="thread.title.startsWith('http')">
              <ng-container *ngIf="isImage(thread.title)">
                <img [src]="thread.title" class="styleImg" />
              </ng-container>
              <ng-container *ngIf="isPDF(thread.title)">
                <a [href]="thread.title" target="_blank">{{ getPDFFileName(thread.title) }}</a>
              </ng-container>
            </div>
            <div (click)="loadSelectedThreadInfos(thread); showThread(); moveSidebar()" *ngIf="thread.messages.length > 0">{{ thread.messages.length }} Antworten</div>
            <div class="reactions" *ngIf="thread.reactions && thread.reactions.length > 0">
              <div *ngFor="let reaction of getReactionCounts(thread)">
                <div class="reactions-item" [attr.data-tooltip-text]="reaction.emoji + '\n' + getUserName(reaction.userId) + '\n hat reagiert'">
                  {{ reaction.emoji }} {{ reaction.count }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
