.thread-list {
    display: flex;
}

.thread-prev {
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 20px;
    border-radius: 20px;
    margin-bottom: 10px;


    &:hover {
        color: #535AF1;
        background: #ECEEFE;
    }
    &:hover .thread-icon:before {
        content: "";
        width: 24px;
        height: 24px;
        background: url(/assets/img/tag-b.svg);
        background-size: 100% auto;
        display: flex;
    }
}

.thread-icon:before {
    content: "";
    width: 24px;
    height: 24px;
    background: url(/assets/img/tag.svg);
    background-size: 100% auto;
    display: flex;
}