

<div class="login-container" >

    <h2>Anmeldung</h2>

    <div class="login-description">
        wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.
    </div>

    <input id="emailLogin" type="email" placeholder="beispielname@email.com">

    <input id="passLogin" type="password" placeholder="passwort">

    <div class="forget-password" (click)="storageService.sendEmailStep()">passwort vergessen ?</div>

    <div class="or">
        <div class="line"></div>
        <div>ODER</div>
        <div class="line"></div>
    </div>

    <div class="google-login">
        <img src="./assets/img/Google.png">
        <div>Anmelden with Google</div>
    </div>

    <div class="login-btns">
        <button id="loginBtn" >Anmelden</button>
        <button id="guestBtn" >Gäste-Login</button>
    </div>

</div>
