h1.dialog-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
}

.dialog-content {
    font-size: 18px;
}

p.form-label {
    font-weight: 700;
    margin-bottom: 10px;
}

.form-field textarea,
.form-field input {
    font-size: 18px;
    font-family: Nunito, sans-serif;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #ADB0D9;
    width: calc(100% - 40px);
}

.form-field textarea:focus-visible,
.form-field input:focus-visible {
    border: 1px solid #535AF1;
    outline: unset;
}

.form-field textarea {
    min-height: calc(65px - 40px);
    max-height: 200px;
    resize: vertical;
  }

  .dialog-buttons button {
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    font-family: Nunito, sans-serif;
    padding: 12px 25px;
    border-radius: 25px;
    border: 0px;
    background: #444DF2;
}

.dialog-buttons button:focus-visible {
    outline: unset!important
}

.form-field-prefix {
    position: relative;
}

.form-field-prefix span {
    position: absolute;
    /*top: 22px;*/
    left: 0px;
}

.form-field-prefix input {
    padding-left: 20px!important;
    width: calc(100% - 60px);
}

button:disabled{
    cursor:not-allowed;
    opacity:0.5
  }

  .form-field {
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.form-field.readonly {
    padding: 40px 20px 20px 20px;
}

.readonly textarea,
.readonly input {
    margin-top: 20px;
}

.readonly .form-field-prefix span {
    top: 20px;
}

.form-field textarea,
.form-field input{
    border: 0px solid #ADB0D9;
    background: transparent;
    border-radius: 20px;
    padding: 0px;
    margin-bottom: 0px;
}

.form-field textarea:focus-visible,
.form-field input:focus-visible {
    outline: unset;
    border: 0px;
}

span.threadeditbtn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.editinput .threadeditbtn {
    top: -40px;
    right: 0px;
}

p.form-label {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-top: 0px;
}

.editinput p.form-label {
    top: -40px;
    left: 0px;
}

.editinput {
    margin-top: 60px;
}