<div id="impressumSection">
    <div id="innerIm">
        <h1>Impressum</h1>

        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>Ahmed Ben Jaballah<br />
        Ebersdorfer Stra&szlig;e 20 A<br />
        Apartment 21<br />
        37073 G&Ouml;TTINGEN</p>

        <h2>Kontakt</h2>
        <p>Telefon: +4917655200242<br />
        E-Mail: ajaballah96@gmail.com</p>

    <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>
    <img src="../../assets/img/13. Go back.png" (click)="back()">    
    </div>
</div>
