<div class="sendEmail">

  <h2>Passwort zurücksetzen</h2>

  <img src="./assets/img/arrow_back.png" id="backarrowEmail" (click)="storageService.logInStep()">

  <div class="sendEmail-description">
    Bitte geben Sie Ihre E-Mail-Adresse ein.
  </div>

  <!-- Hier wird ngModel hinzugefügt, um die E-Mail-Adresse an die Komponente zu binden -->
  <input id="sendEmailInput" type="email" [(ngModel)]="email" placeholder="beispielname@email.com" name="email">

  <div class="sendEmail-bottom-description">
    Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
  </div>

  <div class="sendEmail-btn">
    <!-- Hier rufen wir die sendResetEmail Funktion auf, wenn der Button geklickt wird -->
    <button (click)="sendResetEmail()">E-Mail senden</button>
  </div>

</div>


