#policy{
    padding: 20px;
    position: relative;
    h1{
        color:#676ff4;;
    }
    h2{
        color:#676ff4;;
    }
    h3{
        color:#676ff4;;
    }

    img{
        position: absolute;
        top:10px;
        left: 11px;
        cursor: pointer;
    }
}