<div class="container">
<div class="header">
    <div class="logo"><img src="assets/img/logo-full.svg"></div>
    <div class="search"><app-search></app-search></div>
    <div class="myprofile"><app-my-profile></app-my-profile></div>
</div>
<div (click)="closeWorkspaceMenu()" class="workspace-menu"><span class="close-menu {{ menuState }}">Workspace-Menü {{ menuString }}</span></div>
<div class="main-body">

<div class="workspace-container {{ moveLeft }}">
<app-workspace-menu *ngIf="workspaceMenuVisible" [@fade]></app-workspace-menu>
</div>

<div class="message-container" [@move]>
  <div class="chat-header">
    <h3><span *ngIf="selectedChannel" class="thread-title" (click)="editChannel()"><span class="thread-title-icon"></span>{{ selectedChannel.title }}</span>
      <img *ngIf="selectedUser" [src]="selectedUser.avatar" alt="Avatar" class="user-avatar">
      {{ selectedUser ? selectedUser.name : '# Entwicklerteam' }}
      <span *ngIf="selectedUser?.id === currentUserId">(Du)</span>
    </h3>
  </div>

  <div class="chat-body" >
    <div *ngIf="selectedChannel" class="thread-body">
      <div class="channel-description">{{ selectedChannel.description }}</div>
      <div class="channel-threads">
        <app-thread-list></app-thread-list>
      </div>
    </div>
    <div *ngIf="!selectedChannel" class="messageOutput" #myScrollContainer>
      <div *ngFor="let message of messages; let i = index">
        <div class="date-hr" *ngIf="i === 0 || (messages[i-1].createdAt | date) !== (message.createdAt | date)">
          <span><small>{{ message.createdAt | date }}</small></span>
        </div>
        <div [ngClass]="{'message-right': message.user === currentUserId, 'message-left': message.user !== currentUserId}">
          <div class="message-card">
            <div *ngFor="let user of allUsers">
              <div class="message-box" *ngIf="user.id === message.user" (click)="openThread()">
                <img [src]="user.avatar" alt="Avatar" class="user-avatar">
                <div>
                  <div class="message-head">
                    <b>{{ user.name }}</b>
                    <small>{{ message.createdAt | date:'HH:mm':'UTC' }}</small>
                  </div>
                  <div class="message-item">{{ message.body }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="selectedUser && (!messages || messages.length === 0)" class="no-message-container">
      <div class="no-message-container-header">
      <img [src]="selectedUser.avatar" alt="Avatar" class="user-avatar">
      <h4>{{ selectedUser.name }}</h4>
      </div>
      <div class="user-details">
        <p>Diese Unterhaltung findet nur zwischen <span>@{{selectedUser.name}}</span> und dir statt.</p>
      </div>
    </div>


    <div *ngIf="selectedChannel" class="message addthread">
      <div class="chat-box">
        <div class="message-input">
        <textarea [(ngModel)]="thread.title" placeholder=""></textarea>
      </div>
      <div class="message-send">
        <div class="message-icons">
          <mat-icon>add</mat-icon>
          <div class="hr"></div>
          <mat-icon class="emoticon-menu" [matMenuTriggerFor]="emoticonsMenu">insert_emoticon</mat-icon>
          <mat-menu #emoticonsMenu="matMenu">
            <button mat-menu-item (click)="addEmoticon('😀')">😀</button>
            <button mat-menu-item (click)="addEmoticon('😂')">😂</button>
            <button mat-menu-item (click)="addEmoticon('🤣')">🤣</button>
            <button mat-menu-item (click)="addEmoticon('😍')">😍</button>
            <button mat-menu-item (click)="addEmoticon('😘')">😘</button>
            <button mat-menu-item (click)="addEmoticon('😎')">😎</button>
            <button mat-menu-item (click)="addEmoticon('😛')">😛</button>
          </mat-menu>
          <mat-icon>alternate_email</mat-icon>
        </div>
        <mat-icon class="send-btn" (click)="saveThread()">send</mat-icon>
      </div>
      </div>
    </div>
  </div>
  


  <div *ngIf="!selectedChannel" class="message">
    <div class="chat-box">
      <div class="message-input">
      <textarea [(ngModel)]="message.body" placeholder="Nachricht an ..."></textarea>
    </div>
    <div class="message-send">
      <div class="message-icons">
        <mat-icon>add</mat-icon>
        <div class="hr"></div>
        <mat-icon class="emoticon-menu" [matMenuTriggerFor]="emoticonsMenu">insert_emoticon</mat-icon>
        <mat-menu #emoticonsMenu="matMenu">
          <button mat-menu-item (click)="addEmoticon('😀')">😀</button>
          <button mat-menu-item (click)="addEmoticon('😂')">😂</button>
          <button mat-menu-item (click)="addEmoticon('🤣')">🤣</button>
          <button mat-menu-item (click)="addEmoticon('😍')">😍</button>
          <button mat-menu-item (click)="addEmoticon('😘')">😘</button>
          <button mat-menu-item (click)="addEmoticon('😎')">😎</button>
          <button mat-menu-item (click)="addEmoticon('😛')">😛</button>
        </mat-menu>
        <mat-icon>alternate_email</mat-icon>
      </div>
      <mat-icon class="send-btn" (click)="saveMessage()">send</mat-icon>
    </div>
    </div>
  </div>
</div>

<div class="thread-container {{ moveRight }}">
    <div *ngIf="threadVisible" [@fade]>
        <div class="thread-header">
            <h3>Thread</h3>
            <span (click)="closeThread()" class="close-thread"></span>
        </div>
      <app-thread>

      </app-thread>
    </div>
</div>

</div>
</div>
