html, body {
    height: unset!important;
}

.container {
    // width: calc(100% - 40px);
    // max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.logo {
    width: calc(100% - 60px);
    max-width: 306px;
    padding: 20px 30px;
}

.myprofile {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 60px);
    max-width: 425px;
    padding: 20px 30px;
}

.search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0px 40px;
    background: white;
    border-radius: 45px;
    height: 70px;
}

.search p {
    margin: 0px;
    padding: 0px;
}

.main-body {
    display: flex;
    gap: 20px;
    height: calc(100vH - 160px);
}



.message-container {
    position: relative;
    flex-grow: 1;
    min-height: 120px;
    padding-bottom: 20px;
    background: white;
    border-radius: 30px 30px 30px 30px;
    transition: all linear .65s;
  .messageOutput{
    width: 90%;
    overflow-y: scroll;
    .message-left {
      text-align: left;
      .message-box {
        display: flex;
        gap: 40px;
        img {
          width: 50px;
          height: 50px;
        }
      }
      .message-head {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
      }
      .message-item {
        width: 100%;
        background-color: #eceefe;
        padding: 6px 12px;
        margin-bottom: 10px;
        border-radius: 0 30px 30px 30px;
      }
    }
    .message-right {
      text-align: right;
      color: #ffffff;
      .message-card {
        display: flex;
        gap: 10px;
        flex-direction: row-reverse;
        .message-box {
          display: flex;
          flex-direction: row-reverse;
          gap: 40px;

          img {
            width: 50px;
            height: 50px;
          }

          .message-head {
            color: #000000;
            text-align: right;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 10px;
          }

          .message-item {
            width: 100%;
            background-color: #444DF2;
            padding: 6px 12px;
            margin-bottom: 10px;
            border-radius: 30px 0 30px 30px ;
          }
        }
      }
    }
  }
  .message{
    position: absolute;
    background-color: #ffffff;
    border-radius: 0 0 30px 30px;
    bottom: 0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    .chat-box{
      width: 90%;
      height: 80%;
      margin: 0 auto;
      border: 2px solid #ECEEFE;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .message-input{
        width: 100%;
        textarea{
          width: 80%;
          border: none;
          outline: none;
          resize: none;
          font-size: 18px;
          font-weight: 500;
          font-family: inherit;
          line-height: 1.5em;
          padding: 20px;
          border-radius: 30px;
          &::placeholder {
            color: #808080;
            opacity: 0.5;
            font-family: inherit;
          }
        }
      }
      .message-send{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        .message-icons {
          display: flex;
          align-items: center;
          color: rgba(136, 136, 136, 0.5);
          gap: 10px;
          .hr {
            width: 2px;
            height: 100%;
            background-color: #ECEEFE;
          }
        }
        .send-btn{
          color: #444DF2;
          cursor: pointer;
        }
      }
    }
  }
}

.workspace-container {
    width: calc(100% - 60px);
    max-width: 306px;
    min-height: 120px;
    padding: 32px 30px;
    background: white;
    border-radius: 30px;
    transition: all linear .65s;
}

.thread-container {
    width: calc(100% - 60px);
    max-width: 425px;
    min-height: 120px;
    padding: 32px 30px;
    background: white;
    border-radius: 30px;
    transition: all linear .65s;
}

.workspace-container.moveleft {

    width: 0px!important;
    margin-left: -20px;
    padding-right: 0px;
    padding-left: 0px;
}

.thread-container.moveright {

    width: 0px!important;
    margin-right: -20px;
    padding-right: 0px;
    padding-left: 0px;
}

.workspace-menu {
    font-size: 20px;
    font-weight: 500;
    line-height: 1em;
    position: fixed;
    left: -143px;
    bottom: 25%;
    padding: 14px 23px;
    background: white;
    box-shadow: -2px 4px 7px 0px #00000033;
    border-radius: 0px 0px 30px 30px;
    transform: rotate(270deg);
    width: 296px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 777;

    &:hover {
    color: #535AF1;
    font-weight: 700;
    cursor: pointer;

    span.close-menu:after {
        width: 18px;
        height: 18px;
        background: url(/assets/img/menu-close-b.svg);
        background-size: 100% auto;
    }

    span.close-menu.closed:after {
        width: 18px;
        height: 18px;
        background: url(/assets/img/menu-closed-b.svg);
        background-size: 100% auto;
    }

    }
}

span.close-menu:after {
    content: "";
    width: 16px;
    height: 16px;
    background: url(/assets/img/menu-close.svg);
    background-size: 100% auto;
    display: inline-block;
    margin-left: 10px;
    transform: rotate(90deg);
    margin-bottom: -2px;
}

span.close-menu.closed:after {
    width: 16px;
    height: 16px;
    background: url(/assets/img/menu-closed.svg);
    background-size: 100% auto;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 6px 6px -2px rgb(0 0 0 / 10%);
    padding: 25px 50px;
    border-radius: 30px 30px 0px 0px;
    position: sticky;
    z-index: 1;
    background: white;
    h3 {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.chat-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 110px);
  overflow-y: auto;
    gap: 20px;
    padding-top: 20px;
    background: white;
}

.chat-message {
    padding: 0px 25px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
}

.thread-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thread-title {
  cursor: pointer;
}

.close-thread:after {
    content: "";
    width: 40px;
    height: 40px;
    background: url(/assets/img/close.svg);
    background-size: 100% auto;
    display: inline-block;
}

.close-thread:hover:after {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: url(/assets/img/close-b.svg);
    background-size: 100% auto;
}
