<div class="container">
<div class="header">
    <div class="logo"><img src="assets/img/logo-full.svg"></div>
    <div class="search"><app-search></app-search></div>
    <div class="myprofile"><app-my-profile></app-my-profile></div>
</div>
<div (click)="closeWorkspaceMenu()" class="workspace-menu"><span class="close-menu {{ menuState }}">Workspace-Menü {{ menuString }}</span></div>
<div class="main-body">

<div class="workspace-container {{ moveLeft }}">
<app-workspace-menu *ngIf="workspaceMenuVisible" [@fade]></app-workspace-menu>
</div>

<div class="message-container" [@move]>
  <div class="chat-header">
    <h3><span *ngIf="selectedChannel" class="thread-title" (click)="editChannel()"><span class="thread-title-icon"></span>{{ selectedChannel.title }}</span>
      <div class="user-header" (click)="openDialog(selectedUser)">
      <img *ngIf="selectedUser" [src]="selectedUser.avatar" alt="Avatar" class="user-avatar">
      {{ selectedUser ? selectedUser.name : '' }}
      <span *ngIf="selectedUser?.id === currentUserId">(Du)</span>
      </div>
    </h3>
    <div class="channeluserssection">
      <div *ngIf="selectedChannel" class="channelusers" (click)="showUsers()">
        <div *ngFor="let user of allUsers">
        <div *ngIf="findUserInChannel(user.id)">
        <img [src]="user.avatar" alt="Avatar" class="user-avatar">
        </div>
      </div>
    </div>
    <div *ngIf="selectedChannel"><span (click)="addUserToChannel()" class="adduser"></span></div>
    </div>
  </div>

  <div class="chat-body" >
    <div *ngIf="selectedChannel" class="thread-body">
      <div class="channel-description">{{ selectedChannel.description }}</div>
      <div class="channel-threads">
        <app-thread-list>
        </app-thread-list>
      </div>
    </div>
    <div *ngIf="!selectedChannel" class="messageOutput" #myScrollContainer>
      <div *ngFor="let message of messages; let i = index" (mouseenter)="showEmoticonMenu(i)" (mouseleave)="hideEmoticonMenu()">
        <div class="date-hr" *ngIf="i === 0 || (messages[i-1].createdAt | date) !== (message.createdAt | date)">
          <span><small>{{ message.createdAt | date }}</small></span>
        </div>
        <div [ngClass]="{'message-right': message.user === currentUserId, 'message-left': message.user !== currentUserId}">
          <div class="message-card">
            <div *ngFor="let user of allUsers">
              <div class="message-box" *ngIf="user.id === message.user" (mouseenter)="showEmoticonMenu(i)">
                <img [src]="user.avatar" alt="Avatar" class="user-avatar">
                <div>
                  <div class="message-head">
                    <b>{{ user.name }}</b>
                    <small>{{ message.createdAt | date:'HH:mm':'UTC' }}</small>
                  </div>
                  <div *ngIf="!message.body.startsWith('http')" class="message-item">{{ message.body }}</div>

                        <div *ngIf="message.body.startsWith('http')">
                          <ng-container *ngIf="isImage(message.body)">
                            <img [src]="message.body" class="styleImg" />
                          </ng-container>
                          <ng-container *ngIf="isPDF(message.body)">
                            <a [href]="message.body" target="_blank">{{ getPDFFileName(message.body) }}</a>

                          </ng-container>
                        </div>

                  <div *ngIf=" hoveredIndex==i" class="choose-emo" >
                    <div (click)="selectEmo('✅', message.id)">✅</div>
                    <div (click)="selectEmo('🙌', message.id)">🙌</div>
                    <img src="./assets/img/add_reaction.png" [matMenuTriggerFor]="emoticonsMenu">
                    <img src="./assets/img/comment.png" (click)="openThread()">
                    <mat-menu #emoticonsMenu="matMenu" class="emoticon-menu">
                      <div class="emoticon-grid">
                      <button mat-menu-item (click)="selectEmo('😀',message.id)">😀</button>
                      <button mat-menu-item (click)="selectEmo('😂',message.id)">😂</button>
                      <button mat-menu-item (click)="selectEmo('🤣',message.id)">🤣</button>
                      <button mat-menu-item (click)="selectEmo('😍',message.id)">😍</button>
                      <button mat-menu-item (click)="selectEmo('😘',message.id)">😘</button>
                      <button mat-menu-item (click)="selectEmo('😎',message.id)">😎</button>
                      <button mat-menu-item (click)="selectEmo('😛',message.id)">😛</button>
                      <button mat-menu-item (click)="selectEmo('😊',message.id)">😊</button>
                      <button mat-menu-item (click)="selectEmo('😋',message.id)">😋</button>
                      <button mat-menu-item (click)="selectEmo('😚',message.id)">😚</button>
                      <button mat-menu-item (click)="selectEmo('😜',message.id)">😜</button>
                      <button mat-menu-item (click)="selectEmo('😝',message.id)">😝</button>
                      <button mat-menu-item (click)="selectEmo('🥰',message.id)">🥰</button>
                      <button mat-menu-item (click)="selectEmo('😇',message.id)">😇</button>
                      <button mat-menu-item (click)="selectEmo('😐',message.id)">😐</button>
                      <button mat-menu-item (click)="selectEmo('😕',message.id)">😕</button>
                      <button mat-menu-item (click)="selectEmo('😟',message.id)">😟</button>
                      <button mat-menu-item (click)="selectEmo('😢',message.id)">😢</button>
                      <button mat-menu-item (click)="selectEmo('😭',message.id)">😭</button>
                      <button mat-menu-item (click)="selectEmo('😷',message.id)">😷</button>
                      <button mat-menu-item (click)="selectEmo('🤔',message.id)">🤔</button>
                      <button mat-menu-item (click)="selectEmo('🙄',message.id)">🙄</button>
                      <button mat-menu-item (click)="selectEmo('😏',message.id)">😏</button>
                      <button mat-menu-item (click)="selectEmo('😶',message.id)">😶</button>
                      <button mat-menu-item (click)="selectEmo('🤐',message.id)">🤐</button>
                      <button mat-menu-item (click)="selectEmo('😴',message.id)">😴</button>
                      <button mat-menu-item (click)="selectEmo('🥳',message.id)">🥳</button>
                      <button mat-menu-item (click)="selectEmo('🤯',message.id)">🤯</button>
                      <button mat-menu-item (click)="selectEmo('😵',message.id)">😵</button>
                      <button mat-menu-item (click)="selectEmo('👏',message.id)">👏</button>
                      <button mat-menu-item (click)="selectEmo('👍',message.id)">👍</button>
                      <button mat-menu-item (click)="selectEmo('👌',message.id)">👌</button>
                      <button mat-menu-item (click)="selectEmo('👊',message.id)">👊</button>
                      <button mat-menu-item (click)="selectEmo('🙌',message.id)">🙌</button>
                      <button mat-menu-item (click)="selectEmo('👋',message.id)">👋</button>
                      <button mat-menu-item (click)="selectEmo('✅',message.id)">✅</button>
                      <button mat-menu-item (click)="selectEmo('❌',message.id)">❌</button>
                    </div>
                    </mat-menu>
                  </div>
                </div>
              </div>
            </div>
            <div class="reaction-summary"  *ngIf="message.reactions && message.reactions.length > 0">
              <div *ngFor="let reaction of getReactionsSummary(message)">
                <div class="reaction-summary-item" [attr.data-tooltip-text]="reaction.emoji + '\n' + getUserName(reaction.userId) + '\n hat reagiert'">
                  {{ reaction.emoji }} {{ reaction.count }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="selectedUser && (!messages || messages.length === 0)" class="no-message-container">
      <div class="no-message-container-header">
      <img [src]="selectedUser.avatar" alt="Avatar" class="user-avatar">
      <h4>{{ selectedUser.name }}</h4>
      </div>
      <div class="user-details">
        <p>Diese Unterhaltung findet nur zwischen <span>@{{selectedUser.name}}</span> und dir statt.</p>
      </div>
    </div>


    <div *ngIf="selectedChannel" class="message addthread">
      <div class="chat-box">
        <div class="message-input">
        <textarea  [(ngModel)]="thread.title" placeholder="Nachricht an ..."></textarea>
      </div>
      <div class="message-send">
        <div class="message-icons">

          <mat-icon [matMenuTriggerFor]="addMenuThread" class="addBtn">add</mat-icon>
          <mat-menu #addMenuThread="matMenu" >
            <button mat-menu-item (click)="fileThread.click()">add picture</button>
            <input type="file" (change)="upload($event)" hidden #fileThread>
            <button mat-menu-item (click)="filePDFThread.click()">add file</button>
            <input type="file" (change)="uploadPDF($event)" accept=".pdf" #filePDFThread  hidden >
          </mat-menu>
          <div class="hr"></div>
          <mat-icon class="emoticon-menu" [matMenuTriggerFor]="emoticonsMenu">insert_emoticon</mat-icon>
          <mat-menu #emoticonsMenu="matMenu" class="emoticon-menu">
            <div class="emoticon-grid">
            <button mat-menu-item (click)="addEmoticon('😀')">😀</button>
            <button mat-menu-item (click)="addEmoticon('😂')">😂</button>
            <button mat-menu-item (click)="addEmoticon('🤣')">🤣</button>
            <button mat-menu-item (click)="addEmoticon('😍')">😍</button>
            <button mat-menu-item (click)="addEmoticon('😘')">😘</button>
            <button mat-menu-item (click)="addEmoticon('😎')">😎</button>
            <button mat-menu-item (click)="addEmoticon('😛')">😛</button>
            <button mat-menu-item (click)="addEmoticon('😊')">😊</button>
            <button mat-menu-item (click)="addEmoticon('😋')">😋</button>
            <button mat-menu-item (click)="addEmoticon('😚')">😚</button>
            <button mat-menu-item (click)="addEmoticon('😜')">😜</button>
            <button mat-menu-item (click)="addEmoticon('😝')">😝</button>
            <button mat-menu-item (click)="addEmoticon('🥰')">🥰</button>
            <button mat-menu-item (click)="addEmoticon('😇')">😇</button>
            <button mat-menu-item (click)="addEmoticon('😐')">😐</button>
            <button mat-menu-item (click)="addEmoticon('😕')">😕</button>
            <button mat-menu-item (click)="addEmoticon('😟')">😟</button>
            <button mat-menu-item (click)="addEmoticon('😢')">😢</button>
            <button mat-menu-item (click)="addEmoticon('😭')">😭</button>
            <button mat-menu-item (click)="addEmoticon('😷')">😷</button>
            <button mat-menu-item (click)="addEmoticon('🤔')">🤔</button>
            <button mat-menu-item (click)="addEmoticon('🙄')">🙄</button>
            <button mat-menu-item (click)="addEmoticon('😏')">😏</button>
            <button mat-menu-item (click)="addEmoticon('😶')">😶</button>
            <button mat-menu-item (click)="addEmoticon('🤐')">🤐</button>
            <button mat-menu-item (click)="addEmoticon('😴')">😴</button>
            <button mat-menu-item (click)="addEmoticon('🥳')">🥳</button>
            <button mat-menu-item (click)="addEmoticon('🤯')">🤯</button>
            <button mat-menu-item (click)="addEmoticon('😵')">😵</button>
            <button mat-menu-item (click)="addEmoticon('👏')">👏</button>
            <button mat-menu-item (click)="addEmoticon('👍')">👍</button>
            <button mat-menu-item (click)="addEmoticon('👌')">👌</button>
            <button mat-menu-item (click)="addEmoticon('👊')">👊</button>
            <button mat-menu-item (click)="addEmoticon('🙌')">🙌</button>
            <button mat-menu-item (click)="addEmoticon('👋')">👋</button>
            <button mat-menu-item (click)="addEmoticon('✅')">✅</button>
            <button mat-menu-item (click)="addEmoticon('❌')">❌</button>
          </div>
          </mat-menu>
          <mat-icon>alternate_email</mat-icon>
        </div>
        <mat-icon class="send-btn" (click)="saveThread()">send</mat-icon>
      </div>
      </div>
    </div>
  </div>



  <div *ngIf="!selectedChannel" class="message">
    <div class="chat-box">
      <div class="message-input">
      <textarea #messageInput [(ngModel)]="message.body" placeholder="Nachricht an ..."></textarea>
    </div>
    <div class="message-send">
      <div class="message-icons">
        <mat-icon [matMenuTriggerFor]="addMenu" class="addBtn">add</mat-icon>
        <mat-menu #addMenu="matMenu" >
          <button mat-menu-item (click)="file.click()">add picture</button>
          <input type="file" (change)="upload($event)" hidden #file>
          <button mat-menu-item (click)="filePDF.click()">add file</button>
          <input type="file" (change)="uploadPDF($event)" accept=".pdf" #filePDF  hidden >
        </mat-menu>
        <div class="hr"></div>
        <mat-icon class="emoticon-menu" [matMenuTriggerFor]="emoticonsMenu">insert_emoticon</mat-icon>
        <mat-menu #emoticonsMenu="matMenu" class="emoticon-menu">
          <div class="emoticon-grid">
          <button mat-menu-item (click)="addEmoticon('😀')">😀</button>
          <button mat-menu-item (click)="addEmoticon('😂')">😂</button>
          <button mat-menu-item (click)="addEmoticon('🤣')">🤣</button>
          <button mat-menu-item (click)="addEmoticon('😍')">😍</button>
          <button mat-menu-item (click)="addEmoticon('😘')">😘</button>
          <button mat-menu-item (click)="addEmoticon('😎')">😎</button>
          <button mat-menu-item (click)="addEmoticon('😛')">😛</button>
          <button mat-menu-item (click)="addEmoticon('😊')">😊</button>
          <button mat-menu-item (click)="addEmoticon('😋')">😋</button>
          <button mat-menu-item (click)="addEmoticon('😚')">😚</button>
          <button mat-menu-item (click)="addEmoticon('😜')">😜</button>
          <button mat-menu-item (click)="addEmoticon('😝')">😝</button>
          <button mat-menu-item (click)="addEmoticon('🥰')">🥰</button>
          <button mat-menu-item (click)="addEmoticon('😇')">😇</button>
          <button mat-menu-item (click)="addEmoticon('😐')">😐</button>
          <button mat-menu-item (click)="addEmoticon('😕')">😕</button>
          <button mat-menu-item (click)="addEmoticon('😟')">😟</button>
          <button mat-menu-item (click)="addEmoticon('😢')">😢</button>
          <button mat-menu-item (click)="addEmoticon('😭')">😭</button>
          <button mat-menu-item (click)="addEmoticon('😷')">😷</button>
          <button mat-menu-item (click)="addEmoticon('🤔')">🤔</button>
          <button mat-menu-item (click)="addEmoticon('🙄')">🙄</button>
          <button mat-menu-item (click)="addEmoticon('😏')">😏</button>
          <button mat-menu-item (click)="addEmoticon('😶')">😶</button>
          <button mat-menu-item (click)="addEmoticon('🤐')">🤐</button>
          <button mat-menu-item (click)="addEmoticon('😴')">😴</button>
          <button mat-menu-item (click)="addEmoticon('🥳')">🥳</button>
          <button mat-menu-item (click)="addEmoticon('🤯')">🤯</button>
          <button mat-menu-item (click)="addEmoticon('😵')">😵</button>
          <button mat-menu-item (click)="addEmoticon('👏')">👏</button>
          <button mat-menu-item (click)="addEmoticon('👍')">👍</button>
          <button mat-menu-item (click)="addEmoticon('👌')">👌</button>
          <button mat-menu-item (click)="addEmoticon('👊')">👊</button>
          <button mat-menu-item (click)="addEmoticon('🙌')">🙌</button>
          <button mat-menu-item (click)="addEmoticon('👋')">👋</button>
          <button mat-menu-item (click)="addEmoticon('✅')">✅</button>
          <button mat-menu-item (click)="addEmoticon('❌')">❌</button>
        </div>
        </mat-menu>
        <mat-icon [matMenuTriggerFor]="selectUser">alternate_email</mat-icon>
        <mat-menu #selectUser="matMenu" >
          <button  *ngFor="let user of allUsers">{{user.name}}</button>
        </mat-menu>
      </div>
      <mat-icon class="send-btn" (click)="saveMessage()">send</mat-icon>
    </div>
    </div>
  </div>
</div>

<div class="thread-container {{ moveRight }}">
    <div *ngIf="threadVisible" [@fade]>
        <div class="thread-header">
            <h3>Thread</h3>
            <span (click)="closeThread()" class="close-thread"></span>
        </div>
        <div class="sidebar-thread-body">
      <app-thread>
      </app-thread>
      </div>
    </div>
</div>

</div>
</div>
