.register{
    height: calc(100vh - 300px);
    width: 700px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;

    h2{
        color: #444DF2;
        font-weight: 700;
        font-size: 46px;
    }

    div{
        font-weight: 400;
        font-size: 20px;
    }

      input {
        background-color: #eceefe;
        border: none;
        border-radius: 15px;
        height: 40px;
        width: 80%;
        box-sizing: border-box;
        padding-left: 50px;

        &:focus {
          outline: none;
        }
      }
}

#backarrow{
    position: absolute;
    top: 25px;
    left:25px;
    cursor: pointer;
}

.register-description{
    text-align: center;
}

.register-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    button{
        height: 40px;
        width: 150px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 20px;
        color: white;
        background-color: #444DF2;
        margin-right: 25px;
    }
}

#textRegister{
    background: #eceefe url(./../../assets/img/person_filled.png)  left no-repeat;
    background-position-x: 15px;
}

#passRegister{
    background: #eceefe url(./../../assets/img/lock.png)  left no-repeat;
    background-position-x: 15px;
}

#emailRegister{
    background: #eceefe url(./../../assets/img/mail.png)  left no-repeat;
    background-position-x: 15px;
}

.checkboxSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

        div{
            font-size: 20px;
            font-weight: 400;
            margin-left: 10px;
        }

        span{
            color: #9747FF;
            cursor: pointer;
        }
}

.checkboxSection input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 25px;
    width:auto;
    background-color: white;
    border: 1px solid #444DF2;
    border-radius: 0;
}

.checkboxSection input[type="checkbox"]:checked::before {
    content: '\2713';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #444DF2;
}
